.card figure>img:hover {
    animation-name: hoverRotate;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes hoverRotate {
    from {
        transform: rotate(0deg);
        opacity: 0.3;
    }
    to {
        transform: rotate(360deg);
        opacity: 1;
    }
}