// Card hover
/*.card-body>button:hover {
    animation-name: hoverScale;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes hoverScale {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1.1);
        box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    }
}*/

// Card img hover
.card figure>img:hover {
    animation-name: hoverRotate;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes hoverRotate {
    from {
        transform: rotate(0deg);
        opacity: 0.3;
    }
    to {
        transform: rotate(360deg);
        opacity: 1;
    }
}