// Cards imgs : rotate on hover
.card figure>img:hover {
    animation-name: hoverRotate;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.hero{
    animation: fadeInUp 2s;
    
}



@keyframes hoverRotate {
    from {
        transform: rotate(0deg);
        opacity: 0.3;
    }
    to {
        transform: rotate(360deg);
        opacity: 1;
    }
}


// Cards : scale on hover
.container-card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.target-card {
    width: 100px;
    aspect-ratio: 1;
    border: 1px solid #000;
    border-radius: 50%;
    transition-timing-function: ease;
    transition: 0.2s;
}

.container-card:has(> *:hover) > *:not(:hover) {
    transform: scale(0.9);
}

.container-card > *:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 25px #fbfbfb;
}


// Carousel : slide-in



@keyframes fadeInUp {
    from {
        opacity: 0;
       
    }
    50%{
         transform: translateY(50px);
    }
    
    to {
        opacity: 1;
        
    }
    
    
}