footer {
    position: relative;
    bottom: 0;
    background-color: $footer-bg-color;
}

footer div h6 {
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#contact-us input::placeholder {
    color: #fbfbfb;
}

#contact-us button {
    background-color: $btn-primary;
    border-color: $btn-primary;
}

#contact-us button:hover {
    background-color: $btn-primary-hover;
    border-color: $btn-primary-hover;
}


// Media queries
@media screen and (min-width: 576px) {
    footer #start>.single-box {
        text-align: center;
    }

    #start>.single-box {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 576px) {
    footer #start>.single-box {
        text-align: start;
    }

    #start>.single-box {
        margin-bottom: 1rem;
    }
}