
header{
    nav{
        background-color: $header-bg-color;
        
    }
    a{
         color: $header-color !important;
         font-family: "Roboto", sans-serif;
    }


}
// la balise a ne recupere la couleur de son parent