// Font-family
.roboto {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
}

$font: "Roboto", "sans-serif";

// Balise figure
$figure-width: 60%;

// Icônes
$linkedin-color: #0077b5;
$instagram-color: #d62976;

// Boutons
$button-color: darken(rebeccapurple, 10%);
$button-color-hover: lighten(rebeccapurple, 10%);