// Importation de Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Fichiers .scss
@import "variables.scss";
@import "equipe.scss";
@import "temoignages.scss";
@import "animations.scss";
@import "footer.scss";

body, h1, p, button, a {
    font-family: $font;
}

.bg-color {
    background-color: $main-bg-color;
}

footer {
    background-color: $footer-bg-color;
}