// Importation de Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Fichiers .scss
@import "variables.scss";
@import "equipe.scss";
@import "temoignages.scss";
@import "animations.scss";
@import "footer.scss";


// Style
body, h1, p, button, a {
    font-family: $font;
}

.bg-color {
    background-color: $main-bg-color;
}

#my-form button {
    background-color: $btn-primary;
    border-color: $btn-primary;
}

#my-form button:hover {
    background-color: $btn-primary-hover;
    border-color: $btn-primary-hover;
}

iframe {
    max-width: 100%;
}

// Media queries
@media screen and (max-width: 576px) {
    #my-form {
        max-width: 800px;
        padding: 0 3em 0 3em;
    }
}